name: build
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.pdn'
      - '.github/FUNDING.yml'
  push:
    branches:
      - 'main'
      - 'mc/**'
    paths-ignore:
      - '**/*.md'
      - '**/*.pdn'
      - '.github/FUNDING.yml'

env:
  APPEND_BUILD_NUMBER: true

jobs:
  build:
    strategy:
      matrix:
        # Current Java LTS & minimum supported by Minecraft
        java: [21]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: gradle

      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build --no-daemon

      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ runner.os }}
          path: build/libs/
